<nav class="navbar navbar-dark bg-dark d-flex flex-column align-items-start p-3" style="width: 300px; height: 100vh; position: fixed; top: 0; left: 0; z-index: 1000;">
    <span class="navbar-brand mb-4 h1">{{ title }}</span>

    <div class="d-flex flex-column gap-2 align-items-start w-100">
        <ng-container *ngFor="let button of buttons">
            <app-navbar-button *ngIf="hasPermission(button.permission)"
                        class="text-nowrap w-100"
                        [title]="button.title" 
                        (onClick)="button.action()">
            </app-navbar-button>
        </ng-container>
    </div>

    <div class="mt-auto d-flex flex-column gap-2 w-100">
        <ng-container *ngFor="let button of lowerButtons">
            <app-navbar-button *ngIf="hasPermission(button.permission)"
                        class="text-nowrap w-100"
                        [title]="button.title" 
                        (onClick)="button.action()">
            </app-navbar-button>
        </ng-container>
    </div>
</nav>
