<div>
    <app-checkbox label="Detecta movimiento" [(isChecked)]="detectaMovimiento" (isCheckedChange)="checkOptions()"></app-checkbox>
    <app-checkbox label="Detecta persona" [(isChecked)]="detectaPersona" (isCheckedChange)="checkOptions()"></app-checkbox>
    <app-checkbox label="Uso exterior" [(isChecked)]="usoExterior" (isCheckedChange)="checkOptions()"></app-checkbox>
    <app-checkbox label="Uso interior" [(isChecked)]="usoInterior" (isCheckedChange)="checkOptions()"></app-checkbox>
</div>
