<app-form [form]="filterForm" (onSubmit)="onFilterSubmit()" containerClass="min-vh-30">
  <app-form-input
    type="text"
    placeholder="Filtrar por nombre de empresa"
    label="Nombre de la empresa"
    [form]="filterForm"
    [name]="formField.nombreEmpresa.name"
    [formField]="formField">
  </app-form-input>
  
  <app-form-input
    type="text"
    placeholder="Filtrar por nombre del dueño"
    label="Nombre del dueño"
    [form]="filterForm"
    [name]="nombreCompletoDuenoField.name"
    [formField]="formField">
  </app-form-input>

  <div class="d-flex justify-content-center"> 
    <app-form-button title="Filtrar"></app-form-button>
  </div>
</app-form>
  
<app-table 
  [tableHeaders]="['Nombre', 'Nombre Dueño', 'Rut', 'Logotipo']" 
  [tableColumns]="['nombre', 'nombreDueño', 'rut', 'logotipo']" 
  [items]="companies"
  [emptyMessage]="'No hay empresas'">
</app-table>
  
<div class="d-flex align-items-center justify-content-around">
    <button class="btn btn-secondary" (click)="goToPreviousPage()" [disabled]="currentPage === 1">Anterior</button>
    <span>Página {{ currentPage }} de {{ totalPages }}</span>
    <button class="btn btn-secondary" (click)="goToNextPage()" [disabled]="totalPages <= currentPage">Siguiente</button>
</div>
