<div class="d-flex justify-content-center">
    <div *ngIf="options && options.length > 0; else noOptions" class="form-group">
        <label class="form-label">{{ label }}</label>
        <select
            class="form-control"
            [value]="value"
            (change)="onChange($event)">
            <option *ngIf="placeholder" value="null" [selected]="value === null">
                {{ placeholder }}
            </option>
            <option
                *ngFor="let option of options"
                [value]="option.value"
                [selected]="value == option.value">
                {{ option.label }}
            </option>
        </select>
    </div>
</div>

<ng-template #noOptions>
    <p class="text-muted text-center">{{ emptyMessage }}</p>
</ng-template>
