USE [master]
GO
/****** Object:  Database [SmartHome]    Script Date: 8/10/2024 17:22:14 ******/
CREATE DATABASE [SmartHome]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SmartHome', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SmartHome.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SmartHome_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SmartHome_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SmartHome].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SmartHome]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 8/10/2024 17:22:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dispositivos]    Script Date: 8/10/2024 17:22:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dispositivos](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[NumeroModelo] [int] NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[EmpresaId] [uniqueidentifier] NOT NULL,
	[DetectaMovimiento] [bit] NULL,
	[DetectaPersona] [bit] NULL,
	[Tipo] [int] NOT NULL,
	[UsoExterior] [bit] NULL,
	[UsoInterior] [bit] NULL,
 CONSTRAINT [PK_Dispositivos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DispositivosHogar]    Script Date: 8/10/2024 17:22:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DispositivosHogar](
	[Id] [uniqueidentifier] NOT NULL,
	[DispositivoId] [uniqueidentifier] NOT NULL,
	[HogarId] [uniqueidentifier] NOT NULL,
	[EstaConectado] [bit] NOT NULL,
 CONSTRAINT [PK_DispositivosHogar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresas]    Script Date: 8/10/2024 17:22:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresas](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Logotipo] [nvarchar](max) NOT NULL,
	[Rut] [nvarchar](max) NOT NULL,
	[NombreCreador] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Empresas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FotografiaDispositivo]    Script Date: 8/10/2024 17:22:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FotografiaDispositivo](
	[Id] [uniqueidentifier] NOT NULL,
	[Url] [nvarchar](max) NOT NULL,
	[EsPrincipal] [bit] NOT NULL,
	[DispositivoId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_FotografiaDispositivo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hogares]    Script Date: 8/10/2024 17:22:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hogares](
	[Id] [uniqueidentifier] NOT NULL,
	[Calle] [nvarchar](max) NOT NULL,
	[NumPuerta] [int] NOT NULL,
	[Latitud] [int] NOT NULL,
	[Longitud] [int] NOT NULL,
	[CantMiembrosSoportados] [int] NOT NULL,
	[DueñoId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Hogares] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MiembrosHogar]    Script Date: 8/10/2024 17:22:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MiembrosHogar](
	[Id] [uniqueidentifier] NOT NULL,
	[MiembroId] [uniqueidentifier] NOT NULL,
	[PermisoAsociarDispositivos] [bit] NOT NULL,
	[PermisoListarDispositivos] [bit] NOT NULL,
	[PermisoNotificaciones] [bit] NOT NULL,
	[HogarId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_MiembrosHogar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notificaciones]    Script Date: 8/10/2024 17:22:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notificaciones](
	[Id] [uniqueidentifier] NOT NULL,
	[DispositivoHogarId] [uniqueidentifier] NOT NULL,
	[Evento] [nvarchar](max) NOT NULL,
	[FueLeida] [bit] NOT NULL,
	[FechaHora] [datetime2](7) NOT NULL,
	[MiembroId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Notificaciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 8/10/2024 17:22:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [uniqueidentifier] NOT NULL,
	[Tipo] [nvarchar](max) NOT NULL,
	[Permisos] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 8/10/2024 17:22:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Apellido] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Contraseña] [nvarchar](max) NOT NULL,
	[RolId] [uniqueidentifier] NOT NULL,
	[FotoPerfil] [nvarchar](max) NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[EmpresaId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_DispositivosHogar_DispositivoId]    Script Date: 8/10/2024 17:22:14 ******/
CREATE NONCLUSTERED INDEX [IX_DispositivosHogar_DispositivoId] ON [dbo].[DispositivosHogar]
(
	[DispositivoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DispositivosHogar_HogarId]    Script Date: 8/10/2024 17:22:14 ******/
CREATE NONCLUSTERED INDEX [IX_DispositivosHogar_HogarId] ON [dbo].[DispositivosHogar]
(
	[HogarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FotografiaDispositivo_DispositivoId]    Script Date: 8/10/2024 17:22:14 ******/
CREATE NONCLUSTERED INDEX [IX_FotografiaDispositivo_DispositivoId] ON [dbo].[FotografiaDispositivo]
(
	[DispositivoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Hogares_DueñoId]    Script Date: 8/10/2024 17:22:14 ******/
CREATE NONCLUSTERED INDEX [IX_Hogares_DueñoId] ON [dbo].[Hogares]
(
	[DueñoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MiembrosHogar_HogarId]    Script Date: 8/10/2024 17:22:14 ******/
CREATE NONCLUSTERED INDEX [IX_MiembrosHogar_HogarId] ON [dbo].[MiembrosHogar]
(
	[HogarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MiembrosHogar_MiembroId]    Script Date: 8/10/2024 17:22:14 ******/
CREATE NONCLUSTERED INDEX [IX_MiembrosHogar_MiembroId] ON [dbo].[MiembrosHogar]
(
	[MiembroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notificaciones_DispositivoHogarId]    Script Date: 8/10/2024 17:22:14 ******/
CREATE NONCLUSTERED INDEX [IX_Notificaciones_DispositivoHogarId] ON [dbo].[Notificaciones]
(
	[DispositivoHogarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notificaciones_MiembroId]    Script Date: 8/10/2024 17:22:14 ******/
CREATE NONCLUSTERED INDEX [IX_Notificaciones_MiembroId] ON [dbo].[Notificaciones]
(
	[MiembroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Usuarios_EmpresaId]    Script Date: 8/10/2024 17:22:14 ******/
CREATE NONCLUSTERED INDEX [IX_Usuarios_EmpresaId] ON [dbo].[Usuarios]
(
	[EmpresaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Usuarios_RolId]    Script Date: 8/10/2024 17:22:14 ******/
CREATE NONCLUSTERED INDEX [IX_Usuarios_RolId] ON [dbo].[Usuarios]
(
	[RolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Dispositivos] ADD  DEFAULT ((0)) FOR [Tipo]
GO
ALTER TABLE [dbo].[Empresas] ADD  DEFAULT (N'') FOR [NombreCreador]
GO
ALTER TABLE [dbo].[Hogares] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [DueñoId]
GO
ALTER TABLE [dbo].[MiembrosHogar] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [HogarId]
GO
ALTER TABLE [dbo].[Notificaciones] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [MiembroId]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[DispositivosHogar]  WITH CHECK ADD  CONSTRAINT [FK_DispositivosHogar_Dispositivos_DispositivoId] FOREIGN KEY([DispositivoId])
REFERENCES [dbo].[Dispositivos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DispositivosHogar] CHECK CONSTRAINT [FK_DispositivosHogar_Dispositivos_DispositivoId]
GO
ALTER TABLE [dbo].[DispositivosHogar]  WITH CHECK ADD  CONSTRAINT [FK_DispositivosHogar_Hogares_HogarId] FOREIGN KEY([HogarId])
REFERENCES [dbo].[Hogares] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DispositivosHogar] CHECK CONSTRAINT [FK_DispositivosHogar_Hogares_HogarId]
GO
ALTER TABLE [dbo].[FotografiaDispositivo]  WITH CHECK ADD  CONSTRAINT [FK_FotografiaDispositivo_Dispositivos_DispositivoId] FOREIGN KEY([DispositivoId])
REFERENCES [dbo].[Dispositivos] ([Id])
GO
ALTER TABLE [dbo].[FotografiaDispositivo] CHECK CONSTRAINT [FK_FotografiaDispositivo_Dispositivos_DispositivoId]
GO
ALTER TABLE [dbo].[Hogares]  WITH CHECK ADD  CONSTRAINT [FK_Hogares_Usuarios_DueñoId] FOREIGN KEY([DueñoId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Hogares] CHECK CONSTRAINT [FK_Hogares_Usuarios_DueñoId]
GO
ALTER TABLE [dbo].[MiembrosHogar]  WITH CHECK ADD  CONSTRAINT [FK_MiembrosHogar_Hogares_HogarId] FOREIGN KEY([HogarId])
REFERENCES [dbo].[Hogares] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MiembrosHogar] CHECK CONSTRAINT [FK_MiembrosHogar_Hogares_HogarId]
GO
ALTER TABLE [dbo].[MiembrosHogar]  WITH CHECK ADD  CONSTRAINT [FK_MiembrosHogar_Usuarios_MiembroId] FOREIGN KEY([MiembroId])
REFERENCES [dbo].[Usuarios] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MiembrosHogar] CHECK CONSTRAINT [FK_MiembrosHogar_Usuarios_MiembroId]
GO
ALTER TABLE [dbo].[Notificaciones]  WITH CHECK ADD  CONSTRAINT [FK_Notificaciones_DispositivosHogar_DispositivoHogarId] FOREIGN KEY([DispositivoHogarId])
REFERENCES [dbo].[DispositivosHogar] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notificaciones] CHECK CONSTRAINT [FK_Notificaciones_DispositivosHogar_DispositivoHogarId]
GO
ALTER TABLE [dbo].[Notificaciones]  WITH CHECK ADD  CONSTRAINT [FK_Notificaciones_MiembrosHogar_MiembroId] FOREIGN KEY([MiembroId])
REFERENCES [dbo].[MiembrosHogar] ([Id])
GO
ALTER TABLE [dbo].[Notificaciones] CHECK CONSTRAINT [FK_Notificaciones_MiembrosHogar_MiembroId]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Empresas_EmpresaId] FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Empresas_EmpresaId]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Roles_RolId] FOREIGN KEY([RolId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Roles_RolId]
GO
USE [master]
GO
